

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'mulish', sans-serif;
    
}
 

h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
} 
 h4{
    font-size: 1.2rem;
 }
h1,h2,h3,h4{
    font-family: 'playfair Display', serif;
    font-weight: 800;
    margin: 1.6rem 0;
    letter-spacing: 1.5px;
}
span{
    color: brown; 
    font-size: 1rem;
    font-weight: 500;
}
a{
    text-decoration: none;
    margin: 1.6rem 0;
    color: #a5cf4b;
    font-size: 1.6rem;
}
a:hover{
    color: #0a6a04;
}
p{
    text-align: justify;
    font: 1.1em "Lora", serif;
    padding: 5px;
}
 
.container{
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}
/* ------navigation------ */
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(213, 244, 244);
    padding: 4px;
}
nav .menu a{
    border-top: none;
    font-weight: 700;
    margin-left: 24px;
    color: blue;
}
button{
    background-color: rgb(47, 126, 47);
    color: white;
    border: none;   
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 30%;
}
button:hover{
    background-color: rgb(12, 70, 12);
}
.mobile-menu{
    display: none;
}
/* ------hero------ */
.hero-image{
    position: relative;
    background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;  
    filter: brightness(40%) ; 
}

.content-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: capitalize;

}
.content-box .h2{
    margin: 0;
    font-size: 70px;
} 

/* -----blog section----- */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    grid-gap: 60px;
}
.blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;   
}

.blog-post{
     
    max-width: 24px 0;
    padding: 16px;
}
 img{
    width: 350px;
    height: 350px;
    border-radius: 15%;
} 
.blog-content{
    margin-top: 24px;
    justify-content: center;
    
}
 
/* -------pagination-------- */
.pagination {
    display: inline-block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
}
.pagination .active{
    border: 1px solid blue;
}
.pagination a{
    color: rgb(18, 17, 17);
    float: left;
    padding: 9px 18px;
    text-decoration: none;
}
.pagination a:hover:not(.active){
    background-color: #7be77b;
}

/* ---------Aside--------- */
.category ul{
    list-style-type: none;
    font-size: 20px;
    padding: 0.5em 0.5em;
    font: 700 1.1em "Lora", serif;
}

.wrapper{
    display: flex;
    align-items: center;
}

.wrapper .thumbnail img{
    max-width: 60px;
    height:50px;
} 
.wrapper .content{
    padding: 15px;
}
.wrapper .span, a{
    font-size: 1.4rem;
    margin: 0;
}

/* -----footer----- */
footer{
    margin-top: 15px; 
    padding: 100px 0;
    background-color: rgb(20, 167, 150);
    height: 300px;
} 
.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
.social-icon{
    color: whitesmoke;
    font-size: 25px;
    padding: 8px;
}
.footer-bottom{
    margin-top: 50px; 
    justify-content: space-between;
    background: #0a6651;
    padding: 25px; 
    color: white;
}

@media only screen and (max-width:1042px){
    h1{
        font-size: 3rem;
    }
    .mobile-menu{
        display: block;
        font-size: 24px;
    }
    .menu{
        position: absolute;
        background-color: #a5cf4b;
        width: 100%;
        top: 100%;
        z-index: 99;
    
    }
    .menu a{
        padding: 32px 0;
        font-size:18px;
        display: none;
    }
    .content-box{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
    }

    .blog{
        grid-template-columns: 1fr;
    }
    .container{
        width: 100%;

    }
    main{
        grid-template-columns: 1fr;;
    }
    .wrapper{
        margin: 20px 0;
    }
    aside{
        display: none;
    }
    
}
@media only screen and (max-width:420px){
    /* *{ background: rgba(213,32,110,0.1)}  */
    img{
        display: block;
        width: 95%;
        height: auto;

    }
    
    aside{
        display: none;
    }

}

