@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Mulish:wght@400;500;700&family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url(style3.css);

*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'mulish', sans-serif;
}
h2{
    font-size: 3rem;
}

 h4{
    font-size: 1.2rem;
 }
h1,h2,h3,h4{
    font-family: 'playfair Display', serif;
    font-weight: 800;
    margin: 1.6rem 0;
    letter-spacing: 1.5px;
}
span{
    color: brown; 
    font-size: 1rem;
    font-weight: 500;
}
a{
    text-decoration: none;
    margin: 1.6rem 0;
    color: #a5cf4b;
    font-size: 1.6rem;
}
a:hover{
    color: #0a6a04;
}
p{
    text-align: justify;
    font: 1.1em "Lora", serif;
    padding: 5px;
}
 
.container{
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}
/* ------navigation------ */
nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(213, 244, 244);
    padding: 4px;
}
nav .menu a{
    border-top: none;
    font-weight: 700;
    margin-left: 24px;
    color: blue;
}
button{
    background-color: rgb(47, 126, 47);
    color: white;
    border: none;   
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    border-radius: 30%;
}
button:hover{
    background-color: rgb(12, 70, 12);
}
.mobile-menu{
    display: none;
}

/* -----blog section----- */
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 50px;
    grid-gap: 60px;
}
.blog{
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.blog-post{
    max-width: 24px 0;
    padding: 16px;
}
 .blog-image img{
    width: 500px;
    height: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto; 

} 
.blog-content{
    margin-top: 24px;
    text-align: justify;
}
.ingredients ul{ 
    list-style-type: none;
    font: italic 800 1.1em "Lora", serif;
    
} 

/* --------Related Posts-------- */
.related{
    display: flex;
}
.related-post{
    max-width: 24px o;
    padding: 16px;

}
.related-thumbnail img{
    width: 250px;
    height: 250px;
    border-radius: 15%;
}
.related-content{
    margin-top: 24px;
    justify-content: center;
}
/* ---------Aside--------- */
.category ul{
    list-style-type: none;
    font: 700 1.1em "Lora", serif;
    padding: 0.5em 0.5em;
    text-align: justify;    
}

.wrapper{
    display: flex;
    align-items: center;
}

.wrapper .thumbnail img{
    max-width: 60px;
    height:50px;

}
.wrapper .content{
    flex: 2;
}
.wrapper .span, a{
    font-size: 1.4rem;
    margin: 0;
}
/* -----footer----- */
footer{
    margin-top: 15px; 
    padding: 100px 0;
    background-color: rgb(20, 167, 150);
    height: 300px;
} 
.footer-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
.social-icon{
    color: whitesmoke;
    font-size: 25px;
    padding: 8px;
}
.footer-bottom{
    margin-top: 50px; 
    justify-content: space-between;
    background: #0a6651;
    padding: 25px; 
    color: white;
}
@media only screen and (min-width:420px) and (max-width: 768px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "pic"
        "text"
        "ft";    
    }
    .blog-image{
        grid-area: "pic";
    }
    .blog-content{
        grid-area: text;
    }
    aside{
        display: none;
    }
    footer{
        grid-area: "ft";
    }
}
@media only screen and (max-width: 420px){
   /* *{ background: rgba(213,32,110,0.1)} */

h2{
    font-size: 2em;
}
.blog-image img{
    width: 250px;
    height: auto;
}
main{
    grid-template-columns: 1fr;
   justify-content: center;
    display: grid;
   grid-gap:0;
}
main > * {margin:auto;}

.blog-image{
    grid-area: "pic";
}
.blog-content{
    grid-area: text;
    width: 100%;
    
}
footer{
    grid-area: ft;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0;


}
.footer-top{
    padding-bottom: 50px;
}
.footer-bottom{
    width: 100%;
    margin: 0;

}
aside{
    display: none;
}
.ingredients{
    grid-area: "text2";
    width: 100%;
}
div{
    width: 100%;
}
.related{
    grid-area: "rp";
    display: flex;
    flex-wrap: wrap;
}

}


